[Desktop Entry]
Author=SGOrava
AuthorEmail=sgd.orava@gmail.com
Description=KMail theme enhanced for black times
FileName=header.html
Name=KMail Enhanced Dark
ThemeVersion=2